<!-- Top Banner -->
<section class="top-banner">
    <div class="crisper">
        <div class="title">
            <p>This is Test</p>
        </div>
        <div class="btn-banner">
            <a href="#" class="sing-up-link js-open-modal" data-modal="signup">Sign Up</a>
            <a href="about.html" class="learn-more-link">Learn More</a>
        </div>
    </div>
</section>