<!-- Tab Section -->
<section class="tab-section">
    <div class="crisper">
        <div class="section-title">
            <p class="title">Tab Section</p>
            <p class="subtitle">This is some text inside of a div block.</p>
        </div>
        <div class="section-description">
            <div class="tabs-container">
                <div class="tabs">
                    <button class="tab active">Tab Button 1</button>
                    <button class="tab">Tab Button 2</button>
                    <button class="tab">Tab Button 3</button>
                </div>
            </div>
            <div class="tabs-content-container">
                <div class="tab-content active">
                    <div class="tab-content-title">
                        <img src="@img/tab-image-1.jpg" alt="Tab Image 1">
                    </div>
                    <div class="tab-content-body">
                        <div class="title">
                            <p>Some Title Here</p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-content-title">
                        <img src="@img/tab-image-2.jpg" alt="Tab Image 2">
                    </div>
                    <div class="tab-content-body">
                        <div class="title">
                            <p>Some Title Here</p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-content-title">
                        <img src="@img/tab-image-3.jpg" alt="Tab Image 3">
                    </div>
                    <div class="tab-content-body">
                        <div class="title">
                            <p>Some Title Here</p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                                Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>