<header class="header">
    <div class="body-header">
        <div class="crisper">
            <div class="body-nav-desktop">
                <a href="index.html" class="nav-logotype">Velocity</a>
                <nav class="nav-panel-desktop">
                    <ul class="nav-panel-items">
                        <li class="nav-panel-item">
                            <a href="index.html" class="nav-panel-link">Home</a>
                        </li>
                        <li class="nav-panel-item">
                            <a href="#" class="nav-panel-link js-open-modal" data-modal="contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-panel-mobile-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <nav class="nav-panel-mobile">
                <ul class="nav-panel-items">
                    <li class="nav-panel-item">
                        <a href="index.html" class="nav-panel-link">Home</a>
                    </li>
                    <li class="nav-panel-item">
                        <a href="#" class="nav-panel-link js-open-modal" data-modal="contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
