// Case Studies
.case-studies {
    position: relative;
    z-index: 2;
    min-height: 540px;
    .crisper {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        z-index: 2;
        .section-separator {
            margin-bottom: 0;
        }
    }
    .section-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        & > *:first-child {
            display: none;
        }
        .card {
            .card-bg {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .case-studies {
        .crisper {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .section-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (min-width: 992px) {
    .case-studies {
        .crisper {
            padding-top: 109px;
        }
        .section-cards {
            gap: 20px;
        }
    }
}
@media (min-width: 1200px) {
    .case-studies {
        .section-cards {
            & > *:first-child {
                display: block;
            }
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (min-width: 1596px) {
    .case-studies {
        .crisper {
            padding-left: 0;
            padding-right: 0;
        }
    }
}