<footer class="footer">
    <div class="crisper">
        <div class="copyright">
            <p>&copy; Copyright 2022 | Theme by SYSTEM PVT LTD | All Rights Reserved | Powered by SYSTEM</p>
        </div>
        <div class="social-icons">
            <div class="social-icon">
                <a href="#" class="icon-link">
                    <img src="@img/icon-facebook.png" alt="Icon Facebook">
                </a>
            </div>
            <div class="social-icon">
                <a href="#" class="icon-link">
                    <img src="@img/icon-instagrame.png" alt="Icon Instagram">
                </a>
            </div>
            <div class="social-icon">
                <a href="#" class="icon-link">
                    <img src="@img/icon-linkedin.png" alt="Icon LinkedIn">
                </a>
            </div>
            <div class="social-icon">
                <a href="#" class="icon-link">
                    <img src="@img/icon-twitter.png" alt="Icon Twitter">
                </a>
            </div>
        </div>
    </div>
</footer>