<!-- Benefits -->
<section class="benefits" id="benefits">
    <div class="crisper">
        <div class="section-title">
            <h2>Benefits</h2>
        </div>
        <div class="section-separator">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="section-body">
        <div class="cards">
            <div class="card">
                <div class="card-title">
                    <img src="@img/icon-benefits-1.png" alt="Icon Benefits 1">
                </div>
                <div class="card-body">
                    <div class="title">
                        <h5>HEADING</h5>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is
                            simply dummy
                            text of the
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <img src="@img/icon-benefits-2.png" alt="Icon Benefits 2">
                </div>
                <div class="card-body">
                    <div class="title">
                        <h5>HEADING</h5>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is
                            simply dummy
                            text of the
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <img src="@img/icon-benefits-3.png" alt="Icon Benefits 3">
                </div>
                <div class="card-body">
                    <div class="title">
                        <h5>HEADING</h5>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is
                            simply dummy
                            text of the
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <img src="@img/icon-benefits-4.png" alt="Icon Benefits 4">
                </div>
                <div class="card-body">
                    <div class="title">
                        <h5>HEADING</h5>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is
                            simply dummy
                            text of the
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <img src="@img/icon-benefits-5.png" alt="Icon Benefits 5">
                </div>
                <div class="card-body">
                    <div class="title">
                        <h5>HEADING</h5>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is
                            simply dummy
                            text of the
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <img src="@img/icon-benefits-6.png" alt="Icon Benefits 6">
                </div>
                <div class="card-body">
                    <div class="title">
                        <h5>HEADING</h5>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is
                            simply dummy
                            text of the
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-description">
            <div class="description">
                <p>
                    71% of online customers expect a response within of 5 minutes of reaching out to a company. 
                    Companyname can make this happen for your business.
                </p>
            </div>
            <div class="link">
                <a href="#" class="link-benefits">Learn More</a>
            </div>
        </div>
    </div>
</section>