<!-- Certifications -->
<section class="certifications" id="certifications">
    <div class="crisper">
        <div class="section-title">
            <h2>CERTIFICATIONS</h2>
        </div>
        <div class="section-separator">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-body">
                    <div class="icons-certifications">
                        <img src="@img/icon-certifications.png" alt="Icon Certifications">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="icons-certifications">
                        <img src="@img/icon-certifications.png" alt="Icon Certifications">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="icons-certifications">
                        <img src="@img/icon-certifications.png" alt="Icon Certifications">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="icons-certifications">
                        <img src="@img/icon-certifications.png" alt="Icon Certifications">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="icons-certifications">
                        <img src="@img/icon-certifications.png" alt="Icon Certifications">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="icons-certifications">
                        <img src="@img/icon-certifications.png" alt="Icon Certifications">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>