<!-- Contact Us -->
<section class="contact-us" id="contact-us">
    <div class="section-bg">
        <img src="@img/contact-us-bg.png" alt="Contact Us BG">
    </div>
    <div class="crisper">
        <div class="section-info">
            <div class="contact-us-logo">
                <img src="@img/contact-us-logo.png" alt="Contact Us Logotype">
            </div>
            <div class="contact-us-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore
                    magna aliqua.
                    <br> <br>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incid
                    idunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="contact-us-support">
                <div class="support-title">
                    <h4>Get Support</h4>
                </div>
                <div class="support-description">
                    <p>Mon-Fri: 9:00 AM - 6:00 PM</p>
                </div>
                <div class="support-contact">
                    <div class="phone contact">
                        <div class="icon">
                            <img src="@img/icon-contact-us-1.png" alt="Phone Contact">
                        </div>
                        <div class="data">
                            <a href="#">+1 234 5678 9101</a>
                        </div>
                    </div>
                    <div class="email contact">
                        <div class="icon">
                            <img src="@img/icon-contact-us-2.png" alt="Email Contact">
                        </div>
                        <div class="data">
                            <a href="#">info@companyname.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-contact">
            <div class="section-title">
                <h2>Contact Us</h2>
            </div>
            <div class="section-separator">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="section-forms">
                <form action=".">
                    <div class="input-group">
                        <input type="text" name="name" id="name" class="name" placeholder="Name">
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" id="email" class="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <input type="text" name="company" id="company" class="company" placeholder="Company">
                    </div>
                    <div class="input-group">
                        <textarea name="message" id="message" class="message" placeholder="Your Message"></textarea>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>