<!-- Insights -->
<section class="insights" id="insights">
    <div class="crisper">
        <div class="section-title">
            <h2>Insights</h2>
        </div>
        <div class="section-separator">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="section-body">
            <div class="card">
                <img src="@img/insights-img-5.png" alt="Insights 1">
                <div class="overlay">
                    <div class="text">
                        <div class="title">
                            <h5>Heading</h5>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is
                                simply dummy
                                text of the
                            </p>
                        </div>
                        <div class="link">
                            <a href="#">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="@img/insights-img-1.png" alt="Insights 2">
                <div class="overlay">
                    <div class="text">
                        <div class="title">
                            <h5>Heading</h5>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is
                                simply dummy
                                text of the
                            </p>
                        </div>
                        <div class="link">
                            <a href="#">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="@img/insights-img-2.png" alt="Insights 3">
                <div class="overlay">
                    <div class="text">
                        <div class="title">
                            <h5>Heading</h5>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is
                                simply dummy
                                text of the
                            </p>
                        </div>
                        <div class="link">
                            <a href="#">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="@img/insights-img-3.png" alt="Insights 4">
                <div class="overlay">
                    <div class="text">
                        <div class="title">
                            <h5>Heading</h5>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is
                                simply dummy
                                text of the
                            </p>
                        </div>
                        <div class="link">
                            <a href="#">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="@img/insights-img-4.png" alt="Insights 5">
                <div class="overlay">
                    <div class="text">
                        <div class="title">
                            <h5>Heading</h5>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is
                                simply dummy
                                text of the
                            </p>
                        </div>
                        <div class="link">
                            <a href="#">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="@img/insights-img-5.png" alt="Insights 6">
                <div class="overlay">
                    <div class="text">
                        <div class="title">
                            <h5>Heading</h5>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is
                                simply dummy
                                text of the
                            </p>
                        </div>
                        <div class="link">
                            <a href="#">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>