<!-- Our Team -->
<section class="our-team" id="our-team">
    <div class="crisper">
        <div class="section-description">
            <div class="section-title">
                <h2>Our Team</h2>
            </div>
            <div class="section-separator">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="section-body">
                <p>
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    <br> <br>
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s,
                    when an unknown printer took a galley
                    of type and scrambled it to make a type
                    specimen book.
                    <br> <br>
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry.
                    <br> <br>
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s,
                    when an unknown printer took a galley
                    of type and scrambled it to make a type
                    specimen book
                </p>
            </div>
        </div>
        <div class="section-img">
            <div class="cards">
                <div class="card card-1">
                    <div class="card-body">
                        <div class="fname">
                            <p>Name</p>
                        </div>
                        <div class="profession">
                            <p>Designation</p>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="card-body">
                        <div class="fname">
                            <p>Name</p>
                        </div>
                        <div class="profession">
                            <p>Designation</p>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="card-body">
                        <div class="fname">
                            <p>Name</p>
                        </div>
                        <div class="profession">
                            <p>Designation</p>
                        </div>
                    </div>
                </div>
                <div class="card card-1">
                    <div class="card-body">
                        <div class="fname">
                            <p>Name</p>
                        </div>
                        <div class="profession">
                            <p>Designation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>