<!-- Solutions -->
<section class="solutions" id="solutions">
    <div class="crisper">
        <div class="section-title">
            <h2>Solutions</h2>
        </div>
        <div class="section-separator">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="section-body">
            <div class="cards">
                <div class="card">
                    <div class="card-title">
                        <img src="@img/icon-solutions-1.png" alt="Card Icon Solutions 1">
                    </div>
                    <div class="card-body">
                        <div class="title">
                            <h4>Contact Center</h4>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is simply dummy
                                text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#" class="card-link">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <img src="@img/icon-solutions-2.png" alt="Card Icon Solutions 2">
                    </div>
                    <div class="card-body">
                        <div class="title">
                            <h4>OMNI CHANNEL</h4>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is simply dummy
                                text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#" class="card-link">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <img src="@img/icon-solutions-3.png" alt="Card Icon Solutions 3">
                    </div>
                    <div class="card-body">
                        <div class="title">
                            <h4>ANALYTICS</h4>
                        </div>
                        <div class="description">
                            <p>
                                Lorem Ipsum is simply dummy
                                text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#" class="card-link">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg">
        <img src="@img/solutions-img.png" alt="Solutions BG">
    </div>
</section>